/*---FUENTE DE TEXTO---*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*---VARIABLES---*/
:root{
    /*Colores*/
    --primary-color: white;
    --secondary-color: black;
    --button_primary-color: #FF6A00;
    --button_secondary-color: #B34700;
    --gradient_primary-color: rgba(103, 0, 163, 1) 0%;
    --gradient_secondary-color: rgba(224, 47, 117, 1) 20%;
    --gradient_tertiary-color: rgba(255, 106, 0, 1) 100%;

    /*Fuentes de texto*/
    font-family: "Montserrat", sans-serif;
}

/*---RESET---*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

html, body{
    width: 100%;
    height: 100%;
}

/*---HEADER Y MENÚ DE NAVEGACIÓN---*/

header{
    width: 100%;
    height: auto;
}

/*Menú de navegación*/
header > nav{
    width: 100%;
    height: 10%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    overflow: hidden;
    position: fixed;
    /* backdrop-filter: blur(5px); */
    z-index: 1000;
    flex: 1;    
}

/*Logo*/
header > nav > img{
    width: auto;
    max-width: 250px;
    min-width: 200px;
    /* padding-left: 20px;   */
    margin-left: 100px;  
    /* background-color: blue; */
    justify-content: left;
    object-fit: cover;
    flex-shrink: 1;
}

/*Menú*/
header > nav > ul{
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 40px;
    padding-right: 40px;
    justify-content: center;
    align-items: center;
    list-style: none;
}

/*Alinear iconos con texto*/
.items{
    display: flex;
    align-items: center;
}

/*Propiedades de los enlaces del menú*/
.items > a{
    color: var(--primary-color);
    text-decoration: none;
    font-size: 24px;
    margin: 5px;    
}


header > nav > a > img{
    color: var(--primary-color);
    font-size: 24;
    text-decoration: none;
    display: none;    
}

/*---MAIN Y SECCIONES---*/

main{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}

/*Fondo de la web*/
#background_video{
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    z-index: -1;
    filter: brightness(70%);
}

/*Propiedades comunes a todas las secciones del MAIN*/
main > section{
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: var(--primary-color);
}

/*---SECCIÓN 1 (HERO)---*/

.seccion1 {
    position: relative;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    margin: 100px;
    color: var(--primary-color);
    /* background-color: red; */
}

/*Primer <div> que contiene h1,h2 y p*/
.seccion1 > div:first-child{
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    /* background-color: blue; */
}

/*Dar formato de texto al h1*/
h1{
    font-size: clamp(40px, 6vw, 100px);
    color: var(--primary-color);
}

/*Dar formato de texto al h2*/
.seccion1 >  div:first-child > h2{
    font-size: clamp(40px, 4vw, 80px);
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(90deg, var(--gradient_primary-color), var(--gradient_secondary-color), var(--gradient_tertiary-color));
    /*Aumentar el tamaño del background*/
    background-size: 200%;
    /*Eliminar color de fondo*/
    -webkit-background-clip: text;
    /*Hacer la letra del texto transparente para visualizar el degradado*/
    -webkit-text-fill-color: transparent;
    /*Si el navegador no es compatible con esta propiedad, el color por defecto será blanco*/
    background-clip: text;
    background-color: var(--primary-color);
    animation: animar-degradado 3s ease-in-out infinite alternate;
}

/*Animar degradado del h2*/
@keyframes animar-degradado {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

/*Dar formato de texto al párrafo*/
.seccion1 > div:first-child > p{
    font-size: clamp(20px, 1.4vw, 40px);
    color: var(--primary-color);
}

/*Dar formato de texto al div que contiene el enlace de descarga del PDF*/
.seccion1 > div:first-child > div:nth-child(4){
    width: clamp(180px, 2vw, 200px);
    height: 60px;
    min-height: 60px;
    background-color: var(--button_primary-color);
    border: 2px solid var(--button_secondary-color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Cambiar color al pasar el mouse por encima del enlace de descarga del PDF*/
.seccion1 > div:first-child > div:nth-child(4):hover{
    background-color: var(--button_secondary-color);
    border-color: var(--button_primary-color);
}

/*Dar formato de texto al párrafo*/
.seccion1 > div:first-child > div:nth-child(4) > a{
    color: var(--primary-color);
    font-size: clamp(20px, 1.4vw, 22px);
    text-decoration: none;
}

/*Separar ligeramente texto del icono "download_icon"*/
.seccion1 > div:first-child > div:nth-child(4) > img{
    margin-left: 5px;
}

/*Dar formato al div que contiene la imagen artística*/
.seccion1 > div:nth-of-type(2){
    width: clamp(300px, 40vw, 500px);
    height: clamp(300px, 40vw, 500px);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Dar formato a la imagen artística*/
.seccion1 > div:nth-of-type(2) > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 100%;
}

/*Dar formato al párrafo "↓↓ Scroll ↓↓"*/
.seccion1 > p{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    color: var(--primary-color);
    text-align: center;
    animation: rebote 2s ease-in-out infinite;
}

@keyframes rebote {
    0% {
         transform: translate(-50%, 0);
    }
    25% {
         transform: translate(-50%, -15px);
    }
    50% {
         transform: translate(-50%, 0);
    }
    75% {
         transform: translate(-50%, -15px);
    }
    100% {
         transform: translate(-50%, 0);
    }
}

/*Si el ancho de pantalla es menor a 10243px y el alto de pantalla es menor a*/
@media (max-width: 1023px) {

    /*Ocultar menú de navegación*/
    header > nav > .menu{
        display: none;
    }
    
    /*Reducir margen izquierdo del logo*/
    header > nav > img{
        margin-left: 50px;
    }

    /*Situar icono menú hamburguesa a la derecha del header*/
    header > nav > a{
        margin-left: auto;
        padding-right: 50px;
    }

    /*Mostrar icono menú hamburguesa*/
    header > nav > a > img{
        display: block;
        width: 50px;
        height: auto;
    }

    /*Recolocar elementos de la sección 1*/
    .seccion1{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
        margin: 0px;
        padding: 0px;
        /* background-color: red; */
    }

    .seccion1 > div:first-child{
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* background-color: green; */
    }

    /*Ajustar tamaño h1*/
    .seccion1 > div:nth-child(1) > h1{
        font-size: clamp(48px, 6vw, 100px);
    }

    /*Ajustar tamaño h2*/
    .seccion1 > div:nth-child(1) > h2 {
        font-size: clamp(36px, 4vw, 80px);
    }

    /*Ajustar párrafo al centro*/
    .seccion1 > div:nth-child(1) > p {
        font-size: clamp(14px, 1.4vw, 40px);
        max-width: 470px;
    }

    /*Cambiar tamaño del div que contiene al párrafo*/
    .seccion1 > div:first-child > div:nth-child(4){
        width: clamp(150px, 2vw, 170px);
        height: 40px;
        min-height: 40px; 
    }

    /*Cambiar tamaño de texto al párrafo*/
        .seccion1 > div:first-child > div:nth-child(4) > a{
        font-size: clamp(16px, 1.4vw, 22px);
    }

    /*Información*/
    .seccion1 > div:first-child {
        order: 2;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: blue; */
    }

      /*Foto artística*/
    .seccion1 > div:nth-child(2) {
        order: 1;
        width: clamp(250px,15vw,350px);
        height: clamp(250px,15vw,350px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        /* background-color: yellow; */
    }
}

/*---SECCIÓN 2---*/

.seccion2 {
    position: relative;
    width: 100%;
    height: 100%;
}

.seccion2 > div{
    position: relative;
    width: 100%;
    max-width: 990px;
    height: auto;
    max-height: 100%;
    margin-top: 5%;
    gap: 40px;
    margin: 5% auto 0px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(200px, 1fr);
    color: var(--primary-color);
    /* background-color: blue; */
}

.seccion2 > h3{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-style: "Montserrat", sans-serif;
}

.seccion2 > div > article:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion2 > div > article:first-child > img{
    width: 90%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    border-radius: 20px;
    border: white solid 2px;
    filter: grayscale(100%);
}

.seccion2 > div > article:first-child > img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
    filter: grayscale(0%);
    cursor: pointer;
}

.seccion2 > div > article:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion2 > div > article:nth-child(2) > img{
    width: 90%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    border-radius: 20px;
    border: white solid 2px;
    filter: grayscale(100%);
}

.seccion2 > div > article:nth-child(2) > img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    filter: grayscale(0%);
}

.seccion2 > div > article:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion2 > div > article:nth-child(3) > img{
    width: 90%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    border-radius: 20px;
    border: white solid 2px;
    filter: grayscale(100%);
}

.seccion2 > div > article:nth-child(3) > img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    filter: grayscale(0%);
}

.seccion2 > div > article:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion2 > div > article:last-child > img{
    width: 90%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    border-radius: 20px;
    border: white solid 2px;
    filter: grayscale(100%);
}

.seccion2 > div > article:last-child > img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    filter: grayscale(0%);
}

/*Dar formato al párrafo "↓↓ Scroll ↓↓"*/
.seccion2 > p{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    color: var(--primary-color);
    text-align: center;
    animation: rebote 2s ease-in-out infinite;
}

@keyframes rebote {
    0% {
         transform: translate(-50%, 0);
    }
    25% {
         transform: translate(-50%, -15px);
    }
    50% {
         transform: translate(-50%, 0);
    }
    75% {
         transform: translate(-50%, -15px);
    }
    100% {
         transform: translate(-50%, 0);
    }
}


/*---SECCIÓN 3---*/

.seccion3 {
    background-color: #9b59b6;
}

/*---SECCIÓN 4---*/

.seccion4 {
    background-color: #e74c3c;
}